html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-inline: 1rem;
  padding-top: 0.5rem;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-block: 1rem;
}

.logo-box {
  display: flex;
  height: auto;
  width: fit-content;
  align-items: center;
  gap: 2rem;
}

.logo-box img {
  width: 150px;
}

.logo-box i {
  font-size: 2rem;
  padding-left: 1rem;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.input-box {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 2rem;
}

input {
  width: 100%;
  height: auto;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-right: 1px solid rgb(56, 56, 56);
}

.input-box i {
  background-color: rgb(230, 230, 230);
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  cursor: pointer;
}

.search-box i.mic {
  background-color: rgb(230, 230, 230);
  padding: 1rem;

  border-radius: 50%;
}

.icons-box {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icons-box img,
i {
  cursor: pointer;
}

.icons-box span {
  padding-inline: 1rem;
  padding-block: 0.8rem;
  background-color: #00579c;
  border-radius: 50%;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.icons-box img {
  width: 24px;
}

.main-body {
  display: flex;
}

aside {
  float: left;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  overflow-y: scroll;
  font-size: 0.8rem;
  padding-right: 1rem;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

aside:hover {
  &::-webkit-scrollbar-thumb {
    background-color: rgb(169, 169, 169);
    border-radius: 8px;
  }
}

.aside-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(230, 230, 230);

  padding: 0 2rem 1rem 0;
}

.aside-item {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
}

.aside-item i {
  font-size: 1.2rem;
}
.aside-item:hover {
  background-color: rgb(230, 230, 230);
}

.aside-title {
  padding-left: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  gap: 0.5rem;
}

.aside-title p {
  font-weight: 500;
}

.aside-icon {
  font-size: 1.2rem;
}

.aside-icon img {
  width: 1.2rem;
}

.you,
.subs,
.explore,
.more,
.settings {
  padding-top: 1.5rem;
}

main {
  float: right;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-left: 1rem;
}

.top-main {
  overflow: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  gap: 1rem;
  display: -webkit-inline-box;
  scrollbar-width: none;
}

.top-main::-webkit-scrollbar {
  display: none;
}

.top-item {
  cursor: pointer;
  width: fit-content;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(240, 240, 240);
  font-size: 0.8rem;
}

.top-item:hover {
  background-color: rgb(230, 230, 230);
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.video-list-box {
  display: flex;
  flex-direction: column;

  width: 30%;
}

.videoBox {
  width: 100%;
  height: auto;
}

.videoBox video {
  width: 100%;
  border-radius: 0.8rem;
  transition: all ease-in-out 0.3s;
}
.videoBox video:hover {
  border-radius: 0;
}

.video-text-box {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.profile {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.profile img {
  border-radius: 50%;
  height: auto;
  width: 100%;
}
.video-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  height: auto;
  color: rgb(56, 56, 56);
}

.video-text h3 {
  font-weight: 600;
}

.video-author-view {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: auto;
}

.video-view-date {
  display: flex;
}

.shorts-list-box{
width: 5%;
}
